vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Nov 2000 08:45:18 -0000
vti_extenderversion:SR|4.0.2.3406
vti_backlinkinfo:VX|na\\ survey\\ summary.html
vti_cacheddtm:TX|15 Nov 2000 09:03:36 -0000
vti_filesize:IR|24531
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
