<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" bgcolor="#333333"><table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><img src="topnew.jpg" width="700" height="282" /></td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><table width="700" border="0" cellspacing="0" cellpadding="15">
          <tr>
            <td><p align="center">The Association of Rice Alumni<br />
              <br />
              is pleased to announce</p>
              <p align="center">the recipients of the 2011 Laureates Awards<br />
                <br />
                <img alt="Gold Medal" src="http://alumni.rice.edu/images/email/templates/laureates/2011/goldmedal.jpg" height="45" width="613" /></p>
              <div align="center">
                <p><font color="#323232"><strong><font color="#323232"><strong>&nbsp;</strong></font><span xml="lang"><strong>Raymond D. Brochstein &rsquo;55<br />
                  &nbsp;</strong></span></strong><span xml="lang">Chairman, Brochsteins Inc.</span></font></p>
                <p><font color="#323232"><strong><span xml="lang">&nbsp;</span>Robert F. Curl &rsquo;54<br />
                  &nbsp;</strong>University Professor Emeritus<br />
                  Pitzer-Schlumberger Professor Emeritus</font></p>
                <p><img alt="Distinguished Alumni Award" src="http://alumni.rice.edu/images/email/templates/laureates/2011/daa.jpg" height="45" width="613" /><br />
                  <font color="#323232"><strong>Keith T. Anderson &rsquo;83<br />
                  </strong>Chief Investment Officer, Soros Fund Management LLC&nbsp;</font></p>
                <p><font color="#323232"><strong>Lida Kitrell Barrett &rsquo;46<br />
                  &nbsp;</strong>Retired Mathematics Professor and Administrator</font></p>
                <p><font color="#323232"><strong>Edward M. Emmett &rsquo;71<br />
                  &nbsp;</strong>Harris County Judge</font></p>
                <p><font color="#323232"><strong>Malcolm R. O&rsquo;Neill &rsquo;70<br />
                  &nbsp;</strong>Assistant Secretary for Acquisitions, Logistics, and Technology<br />
                  United States Department of Defense&nbsp;</font></p>
                <p><font color="#323232"><strong>Annise D. Parker &rsquo;78<br />
                </strong>Mayor, City of Houston</font></p>
                <p><img alt="Meritorious Service Award" src="http://alumni.rice.edu/images/email/templates/laureates/2011/msa.jpg" height="45" width="613" /><br />
                  <font color="#323232"><strong>Janice Cornell Doty &rsquo;60<br />
                    &nbsp;</strong>Retired Career Management and Marketing Consultant</font></p>
                <p><font color="#323232"><strong> Robert B. Hord, Jr. &rsquo;74<br />
                  &nbsp;</strong>Managing Director, Oppenheimer &amp; Co., Inc</font></p>
                <p><font color="#323232"><strong>Robert L. Patten<br />
                  &nbsp;</strong>L.S. Autrey Professor in Humanities</font></p>
                <p><font color="#323232"><strong>L.E. Simmons<br />
                  &nbsp;</strong>President, L.E. Simmons and Associates, Inc.</font></p>
                <p><font color="#323232"><strong>Robert M. Taylor, Jr. &rsquo;74  and Amy Dunn Taylor<br />
                  &nbsp;</strong>President and Principal, Chelsea Place Design, Inc.<br />
                  Director and Attorney, Kane Russell Coleman &amp; Logan PC&nbsp;</font></p>
                <p>Information about the 2011 Laureates Dinner is available <strong><a style="color: #323232;" href="http://alumni.rice.edu/honors_awards.html">online</a>.</strong><br />
                  For additional inquiries, please contact <strong><a style="color: #323232;" href="mailto:lblinn@rice.edu">Lauren Linn</a></strong> at 713-348-6093.</p>
                <p>Nominations are accepted and encouraged for 2012 Laureates.<br />
                  Information is available through the <strong><a style="color: #323232;" href="http://alumni.rice.edu/honors_awards.html">Laureates website</a></strong>, with a deadline of September 2011.</p>
              </div></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#D2D2D2">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
