    <p>Division: @Model.StaffProfilePart.StaffGroupName</p>
    <p>Title: @Model.StaffProfilePart.Title</p>
    <p>Email: @Model.StaffProfilePart.Email</p>
    <p>Phone: @Model.StaffProfilePart.Phone</p>