<div>
		@{ var fileName = Model.ContentItem.ImageField.Image.FileName; if (!string.IsNullOrEmpty(fileName))
			 {<a class="staff-profile-summary-image" style="background:url(@Url.Content(fileName)) center center no-repeat" href="#"></a>
			 } 
       }
	<div class="staff-profile-summary-text-container">
		<h3 class="staff-profile-summary-name">
			<a>@Model.ContentItem.TitlePart.Title</a>
		</h3>
		<h4 class="staff-profile-summary-title">
			@Model.ContentItem.StaffProfilePart.Title
		</h4>
	</div>
</div>