			<div class="five columns homepage-link">
				<h2><a href="http://alumni.cgi.rice.edu/events/calendar.php">Events Calendar</a></h2>
				<img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/link_event.jpg"))" class="linkimg"/>
				<p>The Association of Rice Alumni sponsors events throughout the year: on campus, in major cities throughout the United States, and beyond. </p>
				<a href="http://alumni.cgi.rice.edu/events/calendar.php" class="exitlink">Find Upcoming Events &#8594;</a>
				<div class="clear"></div>
			</div>