<a href="@Model.ContentItem.HomepagePartnerBannerLong.LinkTarget.Value">
    <img src="@Url.Content(Model.ContentItem.HomepagePartnerBannerLong.Image.FileName)" height="90" width="728" style="margin: 0 auto;" />
</a>
