<a href="@Model.ContentItem.HomepagePartnerBannerSquare.LinkTarget.Value">
    <img src="@Url.Content(Model.ContentItem.HomepagePartnerBannerSquare.Image.FileName)" height="300" width="400" style="margin: 0 auto;" />
</a>
