<div id="section-about">
    <div class="container">

        <div class="seven columns">
            <h2>Follow us on facebook</h2>
            <br />



            <p>Experience Rice University for an Unforgettable Weekend</p>



            <div class="fb-like" data-href="http://alumni.rice.edu/alumnicollege/" data-send="true" data-layout="button_count" data-width="300" data-show-faces="false" data-action="recommend"></div>


        </div>
        <!-- // .eight -->

        <div class="eight offset-by-one columns">
            <div class="item">



                <ul id="medrec">
                    <li>
                        <img src="#" height="250" width="300" style="margin: 0 auto;" /></li>
                </ul>


            </div>
            <!-- // .item -->
        </div>
        <!-- // .eight -->






        <div class="clear"></div>




    </div>
    <!-- // .container -->
</div>
<!-- // #section-about -->

<div id="wrapper">


    <div class="container spwall">

        <div class="sixteen columns">
            <h1 class="titleofsec">From the blog...</h1>
            <div class="clear"></div>
        </div>

        <div class="clear"></div>

        <ul id="facebook_wall" class="facebook_wall standard"></ul>

        <div class="clear"></div>
    </div>

</div>















<div id="section-sponsors">
    <div class="container">

        <div class="sixteen columns headitadvert">


            <ul id="sliderbottom">
                <li>
                    <img src="#" height="90" width="728" style="margin: 0 auto;" /></li>
            </ul>

        </div>
        <!-- // .sixteen -->

        <div class="clear"></div>


        <div class="sixteen columns centered">

            <img src="@Url.Content(Html.ThemePath(WorkContext.CurrentTheme, "/Content/Images/twitter-bird-hover.png"))" />
            <div class="clear"></div>

            <a href="https://twitter.com/share" class="twitter-share-button" data-via="ricealumni" data-related="ricealumni">Tweet</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            <div class="clear"></div>




            <div class="twitter-feed">
                <ul id="twitter_update_list" class="rotate"></ul>



            </div>
            <div style="height: 50px"></div>
        </div>









        <div class="clear"></div>
    </div>
    <!-- // .container -->
</div>
<!-- // #section-sponsors -->
