-- Script Date: 2/7/2013 12:23 PM  - Generated by ExportSqlCe version 3.5.1.15
-- Database information:
-- Locale Identifier: 1033
-- Encryption Mode: 
-- Case Sensitive: False
-- Database: C:\workspaces\ricealumni\orchard\src\Orchard.Web\App_Data\Sites\Default\Orchard.sdf
-- ServerVersion: 4.0.8876.1
-- DatabaseSize: 1179648
-- Created: 2/6/2013 10:35 AM

-- User Table information:
-- Number of tables: 62
-- Common_BodyPartRecord: 19 row(s)
-- Common_CommonPartRecord: 98 row(s)
-- Common_CommonPartVersionRecord: 104 row(s)
-- Common_IdentityPartRecord: 73 row(s)
-- Containers_ContainablePartRecord: 5 row(s)
-- Containers_ContainerPartRecord: 2 row(s)
-- Containers_ContainerWidgetPartRecord: 0 row(s)
-- Containers_CustomPropertiesPartRecord: 0 row(s)
-- Navigation_AdminMenuPartRecord: 17 row(s)
-- Navigation_ContentMenuItemPartRecord: 0 row(s)
-- Navigation_MenuItemPartRecord: 68 row(s)
-- Navigation_MenuPartRecord: 74 row(s)
-- Navigation_MenuWidgetPartRecord: 3 row(s)
-- Orchard_Alias_ActionRecord: 2 row(s)
-- Orchard_Alias_AliasRecord: 7 row(s)
-- Orchard_Autoroute_AutoroutePartRecord: 9 row(s)
-- Orchard_Framework_ContentItemRecord: 101 row(s)
-- Orchard_Framework_ContentItemVersionRecord: 107 row(s)
-- Orchard_Framework_ContentTypeRecord: 14 row(s)
-- Orchard_Framework_CultureRecord: 1 row(s)
-- Orchard_Framework_DataMigrationRecord: 20 row(s)
-- Orchard_Media_MediaSettingsPartRecord: 1 row(s)
-- Orchard_Packaging_PackagingSource: 1 row(s)
-- Orchard_Projections_DecimalFieldIndexRecord: 0 row(s)
-- Orchard_Projections_DoubleFieldIndexRecord: 0 row(s)
-- Orchard_Projections_FieldIndexPartRecord: 99 row(s)
-- Orchard_Projections_FilterGroupRecord: 1 row(s)
-- Orchard_Projections_FilterRecord: 1 row(s)
-- Orchard_Projections_IntegerFieldIndexRecord: 0 row(s)
-- Orchard_Projections_LayoutRecord: 1 row(s)
-- Orchard_Projections_MemberBindingRecord: 5 row(s)
-- Orchard_Projections_NavigationQueryPartRecord: 0 row(s)
-- Orchard_Projections_ProjectionPartRecord: 1 row(s)
-- Orchard_Projections_PropertyRecord: 0 row(s)
-- Orchard_Projections_QueryPartRecord: 1 row(s)
-- Orchard_Projections_SortCriterionRecord: 1 row(s)
-- Orchard_Projections_StringFieldIndexRecord: 0 row(s)
-- Orchard_Roles_PermissionRecord: 19 row(s)
-- Orchard_Roles_RoleRecord: 7 row(s)
-- Orchard_Roles_RolesPermissionsRecord: 32 row(s)
-- Orchard_Roles_UserRolesPartRecord: 0 row(s)
-- Orchard_Themes_ThemeSiteSettingsPartRecord: 1 row(s)
-- Orchard_Users_RegistrationSettingsPartRecord: 1 row(s)
-- Orchard_Users_UserPartRecord: 1 row(s)
-- Orchard_Widgets_LayerPartRecord: 6 row(s)
-- Orchard_Widgets_WidgetPartRecord: 15 row(s)
-- RiceAlumni_Homepage_HomepagePartRecord: 11 row(s)
-- RiceAlumni_StaffDirectory_StaffProfilePartRecord: 3 row(s)
-- Scheduling_ScheduledTaskRecord: 0 row(s)
-- Settings_ContentFieldDefinitionRecord: 1 row(s)
-- Settings_ContentPartDefinitionRecord: 25 row(s)
-- Settings_ContentPartFieldDefinitionRecord: 3 row(s)
-- Settings_ContentTypeDefinitionRecord: 19 row(s)
-- Settings_ContentTypePartDefinitionRecord: 77 row(s)
-- Settings_ShellDescriptorRecord: 1 row(s)
-- Settings_ShellFeatureRecord: 107 row(s)
-- Settings_ShellFeatureStateRecord: 47 row(s)
-- Settings_ShellParameterRecord: 0 row(s)
-- Settings_ShellStateRecord: 1 row(s)
-- Settings_SiteSettings2PartRecord: 1 row(s)
-- Settings_SiteSettingsPartRecord: 1 row(s)
-- Title_TitlePartRecord: 12 row(s)

CREATE TABLE [Common_BodyPartRecord] (
  [Id] int NOT NULL
, [ContentItemRecord_id] int NULL
, [Text] ntext NULL
, [Format] nvarchar(255) NULL
);
GO
CREATE TABLE [Common_CommonPartRecord] (
  [Id] int NOT NULL
, [OwnerId] int NULL
, [CreatedUtc] datetime NULL
, [PublishedUtc] datetime NULL
, [ModifiedUtc] datetime NULL
, [Container_id] int NULL
);
GO
CREATE TABLE [Common_CommonPartVersionRecord] (
  [Id] int NOT NULL
, [ContentItemRecord_id] int NULL
, [CreatedUtc] datetime NULL
, [PublishedUtc] datetime NULL
, [ModifiedUtc] datetime NULL
);
GO
CREATE TABLE [Common_IdentityPartRecord] (
  [Id] int NOT NULL
, [Identifier] ntext NULL
);
GO
CREATE TABLE [Containers_ContainablePartRecord] (
  [Id] int NOT NULL
, [Weight] int NULL
);
GO
CREATE TABLE [Containers_ContainerPartRecord] (
  [Id] int NOT NULL
, [Paginated] bit NULL
, [PageSize] int NULL
, [OrderByProperty] nvarchar(255) NULL
, [OrderByDirection] int NULL
, [ItemContentType] nvarchar(255) NULL
, [ItemsShown] bit NULL DEFAULT 1
);
GO
CREATE TABLE [Containers_ContainerWidgetPartRecord] (
  [Id] int NOT NULL
, [ContainerId] int NULL
, [PageSize] int NULL
, [OrderByProperty] nvarchar(255) NULL
, [OrderByDirection] int NULL
, [ApplyFilter] bit NULL
, [FilterByProperty] nvarchar(255) NULL
, [FilterByOperator] nvarchar(255) NULL
, [FilterByValue] nvarchar(255) NULL
);
GO
CREATE TABLE [Containers_CustomPropertiesPartRecord] (
  [Id] int NOT NULL
, [CustomOne] nvarchar(255) NULL
, [CustomTwo] nvarchar(255) NULL
, [CustomThree] nvarchar(255) NULL
);
GO
CREATE TABLE [Navigation_AdminMenuPartRecord] (
  [Id] int NOT NULL
, [AdminMenuText] nvarchar(255) NULL
, [AdminMenuPosition] nvarchar(255) NULL
, [OnAdminMenu] bit NULL
);
GO
CREATE TABLE [Navigation_ContentMenuItemPartRecord] (
  [Id] int NOT NULL
, [ContentMenuItemRecord_id] int NULL
);
GO
CREATE TABLE [Navigation_MenuItemPartRecord] (
  [Id] int NOT NULL
, [Url] nvarchar(1024) NULL
);
GO
CREATE TABLE [Navigation_MenuPartRecord] (
  [Id] int NOT NULL
, [MenuText] nvarchar(255) NULL
, [MenuPosition] nvarchar(255) NULL
, [MenuId] int NULL
);
GO
CREATE TABLE [Navigation_MenuWidgetPartRecord] (
  [Id] int NOT NULL
, [StartLevel] int NULL
, [Levels] int NULL
, [Breadcrumb] bit NULL
, [AddHomePage] bit NULL
, [AddCurrentPage] bit NULL
, [Menu_id] int NULL
);
GO
CREATE TABLE [Orchard_Alias_ActionRecord] (
  [Id] int NOT NULL  IDENTITY (3,1)
, [Area] nvarchar(255) NULL
, [Controller] nvarchar(255) NULL
, [Action] nvarchar(255) NULL
);
GO
CREATE TABLE [Orchard_Alias_AliasRecord] (
  [Id] int NOT NULL  IDENTITY (8,1)
, [Path] nvarchar(2048) NULL
, [Action_id] int NULL
, [RouteValues] ntext NULL
, [Source] nvarchar(256) NULL
);
GO
CREATE TABLE [Orchard_Autoroute_AutoroutePartRecord] (
  [Id] int NOT NULL
, [ContentItemRecord_id] int NULL
, [CustomPattern] nvarchar(2048) NULL
, [UseCustomPattern] bit NULL DEFAULT 0
, [DisplayAlias] nvarchar(2048) NULL
);
GO
CREATE TABLE [Orchard_Framework_ContentItemRecord] (
  [Id] int NOT NULL  IDENTITY (102,1)
, [Data] ntext NULL
, [ContentType_id] int NULL
);
GO
CREATE TABLE [Orchard_Framework_ContentItemVersionRecord] (
  [Id] int NOT NULL  IDENTITY (110,1)
, [Number] int NULL
, [Published] bit NULL
, [Latest] bit NULL
, [Data] ntext NULL
, [ContentItemRecord_id] int NOT NULL
);
GO
CREATE TABLE [Orchard_Framework_ContentTypeRecord] (
  [Id] int NOT NULL  IDENTITY (15,1)
, [Name] nvarchar(255) NULL
);
GO
CREATE TABLE [Orchard_Framework_CultureRecord] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [Culture] nvarchar(255) NULL
);
GO
CREATE TABLE [Orchard_Framework_DataMigrationRecord] (
  [Id] int NOT NULL  IDENTITY (21,1)
, [DataMigrationClass] nvarchar(255) NULL
, [Version] int NULL
);
GO
CREATE TABLE [Orchard_Media_MediaSettingsPartRecord] (
  [Id] int NOT NULL
, [UploadAllowedFileTypeWhitelist] nvarchar(255) NULL DEFAULT 'jpg jpeg gif png txt doc docx xls xlsx pdf ppt pptx pps ppsx odt ods odp'
);
GO
CREATE TABLE [Orchard_Packaging_PackagingSource] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [FeedTitle] nvarchar(255) NULL
, [FeedUrl] nvarchar(2048) NULL
);
GO
CREATE TABLE [Orchard_Projections_DecimalFieldIndexRecord] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [PropertyName] nvarchar(255) NULL
, [Value] numeric(19,5) NULL
, [FieldIndexPartRecord_Id] int NULL
);
GO
CREATE TABLE [Orchard_Projections_DoubleFieldIndexRecord] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [PropertyName] nvarchar(255) NULL
, [Value] float NULL
, [FieldIndexPartRecord_Id] int NULL
);
GO
CREATE TABLE [Orchard_Projections_FieldIndexPartRecord] (
  [Id] int NOT NULL
);
GO
CREATE TABLE [Orchard_Projections_FilterGroupRecord] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [QueryPartRecord_id] int NULL
);
GO
CREATE TABLE [Orchard_Projections_FilterRecord] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [Category] nvarchar(64) NULL
, [Type] nvarchar(64) NULL
, [Description] nvarchar(255) NULL
, [State] ntext NULL
, [Position] int NULL
, [FilterGroupRecord_id] int NULL
);
GO
CREATE TABLE [Orchard_Projections_IntegerFieldIndexRecord] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [PropertyName] nvarchar(255) NULL
, [Value] bigint NULL
, [FieldIndexPartRecord_Id] int NULL
);
GO
CREATE TABLE [Orchard_Projections_LayoutRecord] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [Category] nvarchar(64) NULL
, [Type] nvarchar(64) NULL
, [Description] nvarchar(255) NULL
, [State] ntext NULL
, [DisplayType] nvarchar(64) NULL
, [Display] int NULL
, [QueryPartRecord_id] int NULL
, [GroupProperty_id] int NULL
);
GO
CREATE TABLE [Orchard_Projections_MemberBindingRecord] (
  [Id] int NOT NULL  IDENTITY (6,1)
, [Type] nvarchar(255) NULL
, [Member] nvarchar(64) NULL
, [Description] nvarchar(500) NULL
, [DisplayName] nvarchar(64) NULL
);
GO
CREATE TABLE [Orchard_Projections_NavigationQueryPartRecord] (
  [Id] int NOT NULL
, [Items] int NULL
, [Skip] int NULL
, [QueryPartRecord_id] int NULL
);
GO
CREATE TABLE [Orchard_Projections_ProjectionPartRecord] (
  [Id] int NOT NULL
, [Items] int NULL
, [ItemsPerPage] int NULL
, [Skip] int NULL
, [PagerSuffix] nvarchar(255) NULL
, [MaxItems] int NULL
, [DisplayPager] bit NULL
, [QueryPartRecord_id] int NULL
, [LayoutRecord_Id] int NULL
);
GO
CREATE TABLE [Orchard_Projections_PropertyRecord] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [Category] nvarchar(64) NULL
, [Type] nvarchar(64) NULL
, [Description] nvarchar(255) NULL
, [State] ntext NULL
, [Position] int NULL
, [LayoutRecord_id] int NULL
, [ExcludeFromDisplay] bit NULL
, [CreateLabel] bit NULL
, [Label] nvarchar(255) NULL
, [LinkToContent] bit NULL
, [CustomizePropertyHtml] bit NULL
, [CustomPropertyTag] nvarchar(64) NULL
, [CustomPropertyCss] nvarchar(64) NULL
, [CustomizeLabelHtml] bit NULL
, [CustomLabelTag] nvarchar(64) NULL
, [CustomLabelCss] nvarchar(64) NULL
, [CustomizeWrapperHtml] bit NULL
, [CustomWrapperTag] nvarchar(64) NULL
, [CustomWrapperCss] nvarchar(64) NULL
, [NoResultText] ntext NULL
, [ZeroIsEmpty] bit NULL
, [HideEmpty] bit NULL
, [RewriteOutput] bit NULL
, [RewriteText] ntext NULL
, [StripHtmlTags] bit NULL
, [TrimLength] bit NULL
, [AddEllipsis] bit NULL
, [MaxLength] int NULL
, [TrimOnWordBoundary] bit NULL
, [PreserveLines] bit NULL
, [TrimWhiteSpace] bit NULL
);
GO
CREATE TABLE [Orchard_Projections_QueryPartRecord] (
  [Id] int NOT NULL
);
GO
CREATE TABLE [Orchard_Projections_SortCriterionRecord] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [Category] nvarchar(64) NULL
, [Type] nvarchar(64) NULL
, [Description] nvarchar(255) NULL
, [State] ntext NULL
, [Position] int NULL
, [QueryPartRecord_id] int NULL
);
GO
CREATE TABLE [Orchard_Projections_StringFieldIndexRecord] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [PropertyName] nvarchar(255) NULL
, [Value] nvarchar(4000) NULL
, [FieldIndexPartRecord_Id] int NULL
);
GO
CREATE TABLE [Orchard_Roles_PermissionRecord] (
  [Id] int NOT NULL  IDENTITY (20,1)
, [Name] nvarchar(255) NULL
, [FeatureName] nvarchar(255) NULL
, [Description] nvarchar(255) NULL
);
GO
CREATE TABLE [Orchard_Roles_RoleRecord] (
  [Id] int NOT NULL  IDENTITY (8,1)
, [Name] nvarchar(255) NULL
);
GO
CREATE TABLE [Orchard_Roles_RolesPermissionsRecord] (
  [Id] int NOT NULL  IDENTITY (33,1)
, [Role_id] int NULL
, [Permission_id] int NULL
, [RoleRecord_Id] int NULL
);
GO
CREATE TABLE [Orchard_Roles_UserRolesPartRecord] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [UserId] int NULL
, [Role_id] int NULL
);
GO
CREATE TABLE [Orchard_Themes_ThemeSiteSettingsPartRecord] (
  [Id] int NOT NULL
, [CurrentThemeName] nvarchar(255) NULL
);
GO
CREATE TABLE [Orchard_Users_RegistrationSettingsPartRecord] (
  [Id] int NOT NULL
, [UsersCanRegister] bit NULL DEFAULT 0
, [UsersMustValidateEmail] bit NULL DEFAULT 0
, [ValidateEmailRegisteredWebsite] nvarchar(255) NULL
, [ValidateEmailContactEMail] nvarchar(255) NULL
, [UsersAreModerated] bit NULL DEFAULT 0
, [NotifyModeration] bit NULL DEFAULT 0
, [NotificationsRecipients] ntext NULL
, [EnableLostPassword] bit NULL DEFAULT 0
);
GO
CREATE TABLE [Orchard_Users_UserPartRecord] (
  [Id] int NOT NULL
, [UserName] nvarchar(255) NULL
, [Email] nvarchar(255) NULL
, [NormalizedUserName] nvarchar(255) NULL
, [Password] nvarchar(255) NULL
, [PasswordFormat] nvarchar(255) NULL
, [HashAlgorithm] nvarchar(255) NULL
, [PasswordSalt] nvarchar(255) NULL
, [RegistrationStatus] nvarchar(255) NULL DEFAULT 'Approved'
, [EmailStatus] nvarchar(255) NULL DEFAULT 'Approved'
, [EmailChallengeToken] nvarchar(255) NULL
);
GO
CREATE TABLE [Orchard_Widgets_LayerPartRecord] (
  [Id] int NOT NULL
, [Name] nvarchar(255) NULL
, [Description] ntext NULL
, [LayerRule] ntext NULL
);
GO
CREATE TABLE [Orchard_Widgets_WidgetPartRecord] (
  [Id] int NOT NULL
, [Title] nvarchar(255) NULL
, [Position] nvarchar(255) NULL
, [Zone] nvarchar(255) NULL
, [RenderTitle] bit NULL DEFAULT 1
, [Name] nvarchar(255) NULL
);
GO
CREATE TABLE [RiceAlumni_Homepage_HomepagePartRecord] (
  [Id] int NOT NULL
, [LinkText] nvarchar(255) NULL
, [LinkTarget] nvarchar(255) NULL
);
GO
CREATE TABLE [RiceAlumni_StaffDirectory_StaffProfilePartRecord] (
  [Id] int NOT NULL
, [Title] nvarchar(255) NULL
, [Email] nvarchar(255) NULL
, [Phone] nvarchar(255) NULL
);
GO
CREATE TABLE [Scheduling_ScheduledTaskRecord] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [TaskType] nvarchar(255) NULL
, [ScheduledUtc] datetime NULL
, [ContentItemVersionRecord_id] int NULL
);
GO
CREATE TABLE [Settings_ContentFieldDefinitionRecord] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [Name] nvarchar(255) NULL
);
GO
CREATE TABLE [Settings_ContentPartDefinitionRecord] (
  [Id] int NOT NULL  IDENTITY (26,1)
, [Name] nvarchar(255) NULL
, [Hidden] bit NULL
, [Settings] ntext NULL
);
GO
CREATE TABLE [Settings_ContentPartFieldDefinitionRecord] (
  [Id] int NOT NULL  IDENTITY (4,1)
, [Name] nvarchar(255) NULL
, [Settings] ntext NULL
, [ContentFieldDefinitionRecord_id] int NULL
, [ContentPartDefinitionRecord_Id] int NULL
);
GO
CREATE TABLE [Settings_ContentTypeDefinitionRecord] (
  [Id] int NOT NULL  IDENTITY (20,1)
, [Name] nvarchar(255) NULL
, [DisplayName] nvarchar(255) NULL
, [Hidden] bit NULL
, [Settings] ntext NULL
);
GO
CREATE TABLE [Settings_ContentTypePartDefinitionRecord] (
  [Id] int NOT NULL  IDENTITY (78,1)
, [Settings] ntext NULL
, [ContentPartDefinitionRecord_id] int NULL
, [ContentTypeDefinitionRecord_Id] int NULL
);
GO
CREATE TABLE [Settings_ShellDescriptorRecord] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [SerialNumber] int NULL
);
GO
CREATE TABLE [Settings_ShellFeatureRecord] (
  [Id] int NOT NULL  IDENTITY (1083,1)
, [Name] nvarchar(255) NULL
, [ShellDescriptorRecord_id] int NULL
);
GO
CREATE TABLE [Settings_ShellFeatureStateRecord] (
  [Id] int NOT NULL  IDENTITY (48,1)
, [Name] nvarchar(255) NULL
, [InstallState] nvarchar(255) NULL
, [EnableState] nvarchar(255) NULL
, [ShellStateRecord_Id] int NULL
);
GO
CREATE TABLE [Settings_ShellParameterRecord] (
  [Id] int NOT NULL  IDENTITY (1,1)
, [Component] nvarchar(255) NULL
, [Name] nvarchar(255) NULL
, [Value] nvarchar(255) NULL
, [ShellDescriptorRecord_id] int NULL
);
GO
CREATE TABLE [Settings_ShellStateRecord] (
  [Id] int NOT NULL  IDENTITY (2,1)
, [Unused] nvarchar(255) NULL
);
GO
CREATE TABLE [Settings_SiteSettings2PartRecord] (
  [Id] int NOT NULL
, [BaseUrl] ntext NULL
);
GO
CREATE TABLE [Settings_SiteSettingsPartRecord] (
  [Id] int NOT NULL
, [SiteSalt] nvarchar(255) NULL
, [SiteName] nvarchar(255) NULL
, [SuperUser] nvarchar(255) NULL
, [PageTitleSeparator] nvarchar(255) NULL
, [HomePage] nvarchar(255) NULL
, [SiteCulture] nvarchar(255) NULL
, [ResourceDebugMode] nvarchar(255) NULL DEFAULT 'FromAppSetting'
, [PageSize] int NULL
, [SiteTimeZone] nvarchar(255) NULL
);
GO
CREATE TABLE [Title_TitlePartRecord] (
  [Id] int NOT NULL
, [ContentItemRecord_id] int NULL
, [Title] nvarchar(1024) NULL
);
GO
ALTER TABLE [Common_BodyPartRecord] ADD CONSTRAINT [PK__Common_BodyPartRecord__00000000000000F5] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Common_CommonPartRecord] ADD CONSTRAINT [PK__Common_CommonPartRecord__0000000000000107] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Common_CommonPartVersionRecord] ADD CONSTRAINT [PK__Common_CommonPartVersionRecord__0000000000000117] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Common_IdentityPartRecord] ADD CONSTRAINT [PK__Common_IdentityPartRecord__0000000000000121] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Containers_ContainablePartRecord] ADD CONSTRAINT [PK__Containers_ContainablePartRecord__0000000000000168] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Containers_ContainerPartRecord] ADD CONSTRAINT [PK__Containers_ContainerPartRecord__0000000000000138] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Containers_ContainerWidgetPartRecord] ADD CONSTRAINT [PK__Containers_ContainerWidgetPartRecord__0000000000000150] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Containers_CustomPropertiesPartRecord] ADD CONSTRAINT [PK__Containers_CustomPropertiesPartRecord__000000000000015E] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Navigation_AdminMenuPartRecord] ADD CONSTRAINT [PK__Navigation_AdminMenuPartRecord__00000000000001AE] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Navigation_ContentMenuItemPartRecord] ADD CONSTRAINT [PK__Navigation_ContentMenuItemPartRecord__00000000000001B8] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Navigation_MenuItemPartRecord] ADD CONSTRAINT [PK__Navigation_MenuItemPartRecord__000000000000017E] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Navigation_MenuPartRecord] ADD CONSTRAINT [PK__Navigation_MenuPartRecord__000000000000018C] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Navigation_MenuWidgetPartRecord] ADD CONSTRAINT [PK__Navigation_MenuWidgetPartRecord__00000000000001A0] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Alias_ActionRecord] ADD CONSTRAINT [PK__Orchard_Alias_ActionRecord__0000000000000282] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Alias_AliasRecord] ADD CONSTRAINT [PK__Orchard_Alias_AliasRecord__0000000000000274] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Autoroute_AutoroutePartRecord] ADD CONSTRAINT [PK__Orchard_Autoroute_AutoroutePartRecord__0000000000000295] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Framework_ContentItemRecord] ADD CONSTRAINT [PK__Orchard_Framework_ContentItemRecord__00000000000000C1] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Framework_ContentItemVersionRecord] ADD CONSTRAINT [PK__Orchard_Framework_ContentItemVersionRecord__00000000000000D3] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Framework_ContentTypeRecord] ADD CONSTRAINT [PK__Orchard_Framework_ContentTypeRecord__00000000000000DD] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Framework_CultureRecord] ADD CONSTRAINT [PK__Orchard_Framework_CultureRecord__00000000000000E7] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Framework_DataMigrationRecord] ADD CONSTRAINT [PK__Orchard_Framework_DataMigrationRecord__0000000000000008] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Media_MediaSettingsPartRecord] ADD CONSTRAINT [PK__Orchard_Media_MediaSettingsPartRecord__0000000000000264] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Packaging_PackagingSource] ADD CONSTRAINT [PK__Orchard_Packaging_PackagingSource__0000000000000257] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_DecimalFieldIndexRecord] ADD CONSTRAINT [PK__Orchard_Projections_DecimalFieldIndexRecord__00000000000002F0] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_DoubleFieldIndexRecord] ADD CONSTRAINT [PK__Orchard_Projections_DoubleFieldIndexRecord__00000000000002E2] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_FieldIndexPartRecord] ADD CONSTRAINT [PK__Orchard_Projections_FieldIndexPartRecord__00000000000002F8] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_FilterGroupRecord] ADD CONSTRAINT [PK__Orchard_Projections_FilterGroupRecord__000000000000030A] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_FilterRecord] ADD CONSTRAINT [PK__Orchard_Projections_FilterRecord__000000000000031E] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_IntegerFieldIndexRecord] ADD CONSTRAINT [PK__Orchard_Projections_IntegerFieldIndexRecord__00000000000002D4] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_LayoutRecord] ADD CONSTRAINT [PK__Orchard_Projections_LayoutRecord__000000000000034A] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_MemberBindingRecord] ADD CONSTRAINT [PK__Orchard_Projections_MemberBindingRecord__00000000000003B8] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_NavigationQueryPartRecord] ADD CONSTRAINT [PK__Orchard_Projections_NavigationQueryPartRecord__00000000000003C6] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_ProjectionPartRecord] ADD CONSTRAINT [PK__Orchard_Projections_ProjectionPartRecord__00000000000003A8] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_PropertyRecord] ADD CONSTRAINT [PK__Orchard_Projections_PropertyRecord__0000000000000390] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_QueryPartRecord] ADD CONSTRAINT [PK__Orchard_Projections_QueryPartRecord__0000000000000300] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_SortCriterionRecord] ADD CONSTRAINT [PK__Orchard_Projections_SortCriterionRecord__0000000000000332] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Projections_StringFieldIndexRecord] ADD CONSTRAINT [PK__Orchard_Projections_StringFieldIndexRecord__00000000000002C6] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Roles_PermissionRecord] ADD CONSTRAINT [PK__Orchard_Roles_PermissionRecord__0000000000000227] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Roles_RoleRecord] ADD CONSTRAINT [PK__Orchard_Roles_RoleRecord__0000000000000231] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Roles_RolesPermissionsRecord] ADD CONSTRAINT [PK__Orchard_Roles_RolesPermissionsRecord__000000000000023F] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Roles_UserRolesPartRecord] ADD CONSTRAINT [PK__Orchard_Roles_UserRolesPartRecord__000000000000024B] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Themes_ThemeSiteSettingsPartRecord] ADD CONSTRAINT [PK__Orchard_Themes_ThemeSiteSettingsPartRecord__00000000000001D0] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Users_RegistrationSettingsPartRecord] ADD CONSTRAINT [PK__Orchard_Users_RegistrationSettingsPartRecord__0000000000000219] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Users_UserPartRecord] ADD CONSTRAINT [PK__Orchard_Users_UserPartRecord__00000000000001F2] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Widgets_LayerPartRecord] ADD CONSTRAINT [PK__Orchard_Widgets_LayerPartRecord__00000000000002A3] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Orchard_Widgets_WidgetPartRecord] ADD CONSTRAINT [PK__Orchard_Widgets_WidgetPartRecord__00000000000002B8] PRIMARY KEY ([Id]);
GO
ALTER TABLE [RiceAlumni_Homepage_HomepagePartRecord] ADD CONSTRAINT [PK__RiceAlumni_Homepage_HomepagePartRecord__00000000000003D2] PRIMARY KEY ([Id]);
GO
ALTER TABLE [RiceAlumni_StaffDirectory_StaffProfilePartRecord] ADD CONSTRAINT [PK__RiceAlumni_StaffDirectory_StaffProfilePartRecord__00000000000003E0] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Scheduling_ScheduledTaskRecord] ADD CONSTRAINT [PK__Scheduling_ScheduledTaskRecord__00000000000001C6] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Settings_ContentFieldDefinitionRecord] ADD CONSTRAINT [PK__Settings_ContentFieldDefinitionRecord__0000000000000012] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Settings_ContentPartDefinitionRecord] ADD CONSTRAINT [PK__Settings_ContentPartDefinitionRecord__0000000000000020] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Settings_ContentPartFieldDefinitionRecord] ADD CONSTRAINT [PK__Settings_ContentPartFieldDefinitionRecord__0000000000000030] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Settings_ContentTypeDefinitionRecord] ADD CONSTRAINT [PK__Settings_ContentTypeDefinitionRecord__0000000000000040] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Settings_ContentTypePartDefinitionRecord] ADD CONSTRAINT [PK__Settings_ContentTypePartDefinitionRecord__000000000000004E] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Settings_ShellDescriptorRecord] ADD CONSTRAINT [PK__Settings_ShellDescriptorRecord__0000000000000058] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Settings_ShellFeatureRecord] ADD CONSTRAINT [PK__Settings_ShellFeatureRecord__0000000000000064] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Settings_ShellFeatureStateRecord] ADD CONSTRAINT [PK__Settings_ShellFeatureStateRecord__0000000000000074] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Settings_ShellParameterRecord] ADD CONSTRAINT [PK__Settings_ShellParameterRecord__0000000000000084] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Settings_ShellStateRecord] ADD CONSTRAINT [PK__Settings_ShellStateRecord__000000000000008E] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Settings_SiteSettings2PartRecord] ADD CONSTRAINT [PK__Settings_SiteSettings2PartRecord__00000000000000B5] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Settings_SiteSettingsPartRecord] ADD CONSTRAINT [PK__Settings_SiteSettingsPartRecord__00000000000000AB] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Title_TitlePartRecord] ADD CONSTRAINT [PK__Title_TitlePartRecord__0000000000000174] PRIMARY KEY ([Id]);
GO
INSERT INTO [Common_BodyPartRecord] ([Id],[ContentItemRecord_id],[Text],[Format]) VALUES (66,66,N'',null);
INSERT INTO [Common_BodyPartRecord] ([Id],[ContentItemRecord_id],[Text],[Format]) VALUES (67,67,N'The Association of Rice Alumni sponsors events throughout the year: on campus, in major cities throughout the United States, and beyond.',null);
GO
INSERT INTO [Common_CommonPartRecord] ([Id],[OwnerId],[CreatedUtc],[PublishedUtc],[ModifiedUtc],[Container_id]) VALUES (4,2,{ts '2013-01-25 06:36:49.000'},{ts '2013-01-25 18:47:13.000'},{ts '2013-01-25 18:47:13.000'},null);
INSERT INTO [Common_CommonPartRecord] ([Id],[OwnerId],[CreatedUtc],[PublishedUtc],[ModifiedUtc],[Container_id]) VALUES (5,2,{ts '2013-01-25 06:36:51.000'},{ts '2013-01-25 06:36:51.000'},{ts '2013-01-25 06:36:51.000'},null);
INSERT INTO [Common_CommonPartRecord] ([Id],[OwnerId],[CreatedUtc],[PublishedUtc],[ModifiedUtc],[Container_id]) VALUES (6,2,{ts '2013-01-25 06:36:51.000'},{ts '2013-01-25 06:36:51.000'},{ts '2013-01-25 06:36:51.000'},null);
GO
INSERT INTO [Common_CommonPartVersionRecord] ([Id],[ContentItemRecord_id],[CreatedUtc],[PublishedUtc],[ModifiedUtc]) VALUES (4,4,{ts '2013-01-25 06:36:49.000'},{ts '2013-01-25 06:36:49.000'},{ts '2013-01-25 06:36:49.000'});
INSERT INTO [Common_CommonPartVersionRecord] ([Id],[ContentItemRecord_id],[CreatedUtc],[PublishedUtc],[ModifiedUtc]) VALUES (5,5,{ts '2013-01-25 06:36:51.000'},{ts '2013-01-25 06:36:51.000'},{ts '2013-01-25 06:36:51.000'});
INSERT INTO [Common_CommonPartVersionRecord] ([Id],[ContentItemRecord_id],[CreatedUtc],[PublishedUtc],[ModifiedUtc]) VALUES (6,6,{ts '2013-01-25 06:36:51.000'},{ts '2013-01-25 06:36:51.000'},{ts '2013-01-25 06:36:51.000'});
GO
INSERT INTO [Common_IdentityPartRecord] ([Id],[Identifier]) VALUES (3,N'0696c03dff31435dbe9c9f3575c8cd09');
INSERT INTO [Common_IdentityPartRecord] ([Id],[Identifier]) VALUES (14,N'7989bd951bd14c8199205604c9d8780f');
INSERT INTO [Common_IdentityPartRecord] ([Id],[Identifier]) VALUES (15,N'37d0aa98a77d4342ba4b61aa90df4312');
GO
INSERT INTO [Containers_ContainablePartRecord] ([Id],[Weight]) VALUES (78,1);
INSERT INTO [Containers_ContainablePartRecord] ([Id],[Weight]) VALUES (79,0);
INSERT INTO [Containers_ContainablePartRecord] ([Id],[Weight]) VALUES (80,1);
GO
INSERT INTO [Containers_ContainerPartRecord] ([Id],[Paginated],[PageSize],[OrderByProperty],[OrderByDirection],[ItemContentType],[ItemsShown]) VALUES (78,1,10,N'CommonPart.CreatedUtc',1,N'StaffProfile',1);
INSERT INTO [Containers_ContainerPartRecord] ([Id],[Paginated],[PageSize],[OrderByProperty],[OrderByDirection],[ItemContentType],[ItemsShown]) VALUES (79,1,10,N'CommonPart.CreatedUtc',1,N'StaffProfile',1);
GO
GO
GO
INSERT INTO [Navigation_AdminMenuPartRecord] ([Id],[AdminMenuText],[AdminMenuPosition],[OnAdminMenu]) VALUES (4,null,N'5.1',0);
INSERT INTO [Navigation_AdminMenuPartRecord] ([Id],[AdminMenuText],[AdminMenuPosition],[OnAdminMenu]) VALUES (67,null,N'100',0);
INSERT INTO [Navigation_AdminMenuPartRecord] ([Id],[AdminMenuText],[AdminMenuPosition],[OnAdminMenu]) VALUES (68,null,N'100',0);
GO
GO
INSERT INTO [Navigation_MenuItemPartRecord] ([Id],[Url]) VALUES (14,N'#section-anotherabout');
INSERT INTO [Navigation_MenuItemPartRecord] ([Id],[Url]) VALUES (15,N'http://alumni.cgi.rice.edu/events/calendar.php');
INSERT INTO [Navigation_MenuItemPartRecord] ([Id],[Url]) VALUES (16,N'http://alumni.cgi.rice.edu/events/calendar.php#upmajevents');
GO
INSERT INTO [Navigation_MenuPartRecord] ([Id],[MenuText],[MenuPosition],[MenuId]) VALUES (4,N'Staff Directory',N'1',0);
INSERT INTO [Navigation_MenuPartRecord] ([Id],[MenuText],[MenuPosition],[MenuId]) VALUES (14,N'Alumni Resources',N'1',11);
INSERT INTO [Navigation_MenuPartRecord] ([Id],[MenuText],[MenuPosition],[MenuId]) VALUES (15,N'Events Calendar',N'1.1',11);
GO
INSERT INTO [Navigation_MenuWidgetPartRecord] ([Id],[StartLevel],[Levels],[Breadcrumb],[AddHomePage],[AddCurrentPage],[Menu_id]) VALUES (63,1,0,0,0,0,11);
INSERT INTO [Navigation_MenuWidgetPartRecord] ([Id],[StartLevel],[Levels],[Breadcrumb],[AddHomePage],[AddCurrentPage],[Menu_id]) VALUES (64,1,0,0,0,0,null);
INSERT INTO [Navigation_MenuWidgetPartRecord] ([Id],[StartLevel],[Levels],[Breadcrumb],[AddHomePage],[AddCurrentPage],[Menu_id]) VALUES (65,1,0,0,0,0,12);
GO
SET IDENTITY_INSERT [Orchard_Alias_ActionRecord] ON;
GO
INSERT INTO [Orchard_Alias_ActionRecord] ([Id],[Area],[Controller],[Action]) VALUES (1,N'Contents',N'Item',N'Display');
INSERT INTO [Orchard_Alias_ActionRecord] ([Id],[Area],[Controller],[Action]) VALUES (2,N'Containers',N'Item',N'Display');
GO
SET IDENTITY_INSERT [Orchard_Alias_ActionRecord] OFF;
GO
SET IDENTITY_INSERT [Orchard_Alias_AliasRecord] ON;
GO
INSERT INTO [Orchard_Alias_AliasRecord] ([Id],[Path],[Action_id],[RouteValues],[Source]) VALUES (1,N'',1,N'<v Id="13" />',N'Autoroute:View');
INSERT INTO [Orchard_Alias_AliasRecord] ([Id],[Path],[Action_id],[RouteValues],[Source]) VALUES (2,N'staff/executive',2,N'<v id="78" />',N'Autoroute:View');
INSERT INTO [Orchard_Alias_AliasRecord] ([Id],[Path],[Action_id],[RouteValues],[Source]) VALUES (3,N'staff/communications',2,N'<v id="79" />',N'Autoroute:View');
GO
SET IDENTITY_INSERT [Orchard_Alias_AliasRecord] OFF;
GO
INSERT INTO [Orchard_Autoroute_AutoroutePartRecord] ([Id],[ContentItemRecord_id],[CustomPattern],[UseCustomPattern],[DisplayAlias]) VALUES (4,4,null,0,N'staff-directory');
INSERT INTO [Orchard_Autoroute_AutoroutePartRecord] ([Id],[ContentItemRecord_id],[CustomPattern],[UseCustomPattern],[DisplayAlias]) VALUES (13,13,N'/',1,N'');
INSERT INTO [Orchard_Autoroute_AutoroutePartRecord] ([Id],[ContentItemRecord_id],[CustomPattern],[UseCustomPattern],[DisplayAlias]) VALUES (78,78,null,0,N'staff/executive');
GO
SET IDENTITY_INSERT [Orchard_Framework_ContentItemRecord] ON;
GO
INSERT INTO [Orchard_Framework_ContentItemRecord] ([Id],[Data],[ContentType_id]) VALUES (1,null,1);
INSERT INTO [Orchard_Framework_ContentItemRecord] ([Id],[Data],[ContentType_id]) VALUES (2,null,2);
INSERT INTO [Orchard_Framework_ContentItemRecord] ([Id],[Data],[ContentType_id]) VALUES (3,null,3);
GO
SET IDENTITY_INSERT [Orchard_Framework_ContentItemRecord] OFF;
GO
SET IDENTITY_INSERT [Orchard_Framework_ContentItemVersionRecord] ON;
GO
INSERT INTO [Orchard_Framework_ContentItemVersionRecord] ([Id],[Number],[Published],[Latest],[Data],[ContentItemRecord_id]) VALUES (1,1,1,1,null,1);
INSERT INTO [Orchard_Framework_ContentItemVersionRecord] ([Id],[Number],[Published],[Latest],[Data],[ContentItemRecord_id]) VALUES (2,1,1,1,null,2);
INSERT INTO [Orchard_Framework_ContentItemVersionRecord] ([Id],[Number],[Published],[Latest],[Data],[ContentItemRecord_id]) VALUES (3,1,1,1,null,3);
GO
SET IDENTITY_INSERT [Orchard_Framework_ContentItemVersionRecord] OFF;
GO
SET IDENTITY_INSERT [Orchard_Framework_ContentTypeRecord] ON;
GO
INSERT INTO [Orchard_Framework_ContentTypeRecord] ([Id],[Name]) VALUES (1,N'Site');
INSERT INTO [Orchard_Framework_ContentTypeRecord] ([Id],[Name]) VALUES (2,N'User');
INSERT INTO [Orchard_Framework_ContentTypeRecord] ([Id],[Name]) VALUES (3,N'Query');
GO
SET IDENTITY_INSERT [Orchard_Framework_ContentTypeRecord] OFF;
GO
SET IDENTITY_INSERT [Orchard_Framework_CultureRecord] ON;
GO
INSERT INTO [Orchard_Framework_CultureRecord] ([Id],[Culture]) VALUES (1,N'en-US');
GO
SET IDENTITY_INSERT [Orchard_Framework_CultureRecord] OFF;
GO
SET IDENTITY_INSERT [Orchard_Framework_DataMigrationRecord] ON;
GO
INSERT INTO [Orchard_Framework_DataMigrationRecord] ([Id],[DataMigrationClass],[Version]) VALUES (1,N'Orchard.Core.Settings.Migrations',4);
INSERT INTO [Orchard_Framework_DataMigrationRecord] ([Id],[DataMigrationClass],[Version]) VALUES (2,N'Orchard.ContentManagement.DataMigrations.FrameworkDataMigration',1);
INSERT INTO [Orchard_Framework_DataMigrationRecord] ([Id],[DataMigrationClass],[Version]) VALUES (3,N'Orchard.Core.Common.Migrations',2);
GO
SET IDENTITY_INSERT [Orchard_Framework_DataMigrationRecord] OFF;
GO
INSERT INTO [Orchard_Media_MediaSettingsPartRecord] ([Id],[UploadAllowedFileTypeWhitelist]) VALUES (1,N'jpg jpeg gif png txt doc docx xls xlsx pdf ppt pptx pps ppsx odt ods odp');
GO
SET IDENTITY_INSERT [Orchard_Packaging_PackagingSource] ON;
GO
INSERT INTO [Orchard_Packaging_PackagingSource] ([Id],[FeedTitle],[FeedUrl]) VALUES (1,N'Orchard Gallery',N'http://packages.orchardproject.net/FeedService.svc');
GO
SET IDENTITY_INSERT [Orchard_Packaging_PackagingSource] OFF;
GO
GO
GO
INSERT INTO [Orchard_Projections_FieldIndexPartRecord] ([Id]) VALUES (3);
INSERT INTO [Orchard_Projections_FieldIndexPartRecord] ([Id]) VALUES (4);
INSERT INTO [Orchard_Projections_FieldIndexPartRecord] ([Id]) VALUES (5);
GO
SET IDENTITY_INSERT [Orchard_Projections_FilterGroupRecord] ON;
GO
INSERT INTO [Orchard_Projections_FilterGroupRecord] ([Id],[QueryPartRecord_id]) VALUES (1,3);
GO
SET IDENTITY_INSERT [Orchard_Projections_FilterGroupRecord] OFF;
GO
SET IDENTITY_INSERT [Orchard_Projections_FilterRecord] ON;
GO
INSERT INTO [Orchard_Projections_FilterRecord] ([Id],[Category],[Type],[Description],[State],[Position],[FilterGroupRecord_id]) VALUES (1,N'Content',N'ContentTypes',N'Staff Profiles',N'<Form><ContentTypes>StaffProfile</ContentTypes><Description>Staff Profiles</Description></Form>',0,1);
GO
SET IDENTITY_INSERT [Orchard_Projections_FilterRecord] OFF;
GO
GO
SET IDENTITY_INSERT [Orchard_Projections_LayoutRecord] ON;
GO
INSERT INTO [Orchard_Projections_LayoutRecord] ([Id],[Category],[Type],[Description],[State],[DisplayType],[Display],[QueryPartRecord_id],[GroupProperty_id]) VALUES (1,N'Html',N'List',N'List',N'<Form><QueryId>3</QueryId><Category>Html</Category><Type>List</Type><Description>List</Description><Display>0</Display><DisplayType>Summary</DisplayType></Form>',N'Summary',0,3,null);
GO
SET IDENTITY_INSERT [Orchard_Projections_LayoutRecord] OFF;
GO
SET IDENTITY_INSERT [Orchard_Projections_MemberBindingRecord] ON;
GO
INSERT INTO [Orchard_Projections_MemberBindingRecord] ([Id],[Type],[Member],[Description],[DisplayName]) VALUES (1,N'Orchard.Core.Common.Models.CommonPartRecord',N'CreatedUtc',N'When the content item was created',N'Creation date');
INSERT INTO [Orchard_Projections_MemberBindingRecord] ([Id],[Type],[Member],[Description],[DisplayName]) VALUES (2,N'Orchard.Core.Common.Models.CommonPartRecord',N'ModifiedUtc',N'When the content item was modified',N'Modification date');
INSERT INTO [Orchard_Projections_MemberBindingRecord] ([Id],[Type],[Member],[Description],[DisplayName]) VALUES (3,N'Orchard.Core.Common.Models.CommonPartRecord',N'PublishedUtc',N'When the content item was published',N'Publication date');
GO
SET IDENTITY_INSERT [Orchard_Projections_MemberBindingRecord] OFF;
GO
GO
INSERT INTO [Orchard_Projections_ProjectionPartRecord] ([Id],[Items],[ItemsPerPage],[Skip],[PagerSuffix],[MaxItems],[DisplayPager],[QueryPartRecord_id],[LayoutRecord_Id]) VALUES (4,0,0,0,N'',20,0,3,null);
GO
GO
INSERT INTO [Orchard_Projections_QueryPartRecord] ([Id]) VALUES (3);
GO
SET IDENTITY_INSERT [Orchard_Projections_SortCriterionRecord] ON;
GO
INSERT INTO [Orchard_Projections_SortCriterionRecord] ([Id],[Category],[Type],[Description],[State],[Position],[QueryPartRecord_id]) VALUES (1,N'TitlePartRecord',N'Title',N'Profile Name',N'<Form><Description>Staff Group</Description><Sort>false</Sort></Form>',1,3);
GO
SET IDENTITY_INSERT [Orchard_Projections_SortCriterionRecord] OFF;
GO
GO
SET IDENTITY_INSERT [Orchard_Roles_PermissionRecord] ON;
GO
INSERT INTO [Orchard_Roles_PermissionRecord] ([Id],[Name],[FeatureName],[Description]) VALUES (1,N'ApplyTheme',N'Orchard.Themes',N'Apply a Theme');
INSERT INTO [Orchard_Roles_PermissionRecord] ([Id],[Name],[FeatureName],[Description]) VALUES (2,N'PublishContent',N'Contents',N'Publish or unpublish content for others');
INSERT INTO [Orchard_Roles_PermissionRecord] ([Id],[Name],[FeatureName],[Description]) VALUES (3,N'EditContent',N'Contents',N'Edit content for others');
GO
SET IDENTITY_INSERT [Orchard_Roles_PermissionRecord] OFF;
GO
SET IDENTITY_INSERT [Orchard_Roles_RoleRecord] ON;
GO
INSERT INTO [Orchard_Roles_RoleRecord] ([Id],[Name]) VALUES (1,N'Administrator');
INSERT INTO [Orchard_Roles_RoleRecord] ([Id],[Name]) VALUES (2,N'Editor');
INSERT INTO [Orchard_Roles_RoleRecord] ([Id],[Name]) VALUES (3,N'Moderator');
GO
SET IDENTITY_INSERT [Orchard_Roles_RoleRecord] OFF;
GO
SET IDENTITY_INSERT [Orchard_Roles_RolesPermissionsRecord] ON;
GO
INSERT INTO [Orchard_Roles_RolesPermissionsRecord] ([Id],[Role_id],[Permission_id],[RoleRecord_Id]) VALUES (1,1,1,1);
INSERT INTO [Orchard_Roles_RolesPermissionsRecord] ([Id],[Role_id],[Permission_id],[RoleRecord_Id]) VALUES (2,1,2,1);
INSERT INTO [Orchard_Roles_RolesPermissionsRecord] ([Id],[Role_id],[Permission_id],[RoleRecord_Id]) VALUES (3,1,3,1);
GO
SET IDENTITY_INSERT [Orchard_Roles_RolesPermissionsRecord] OFF;
GO
GO
INSERT INTO [Orchard_Themes_ThemeSiteSettingsPartRecord] ([Id],[CurrentThemeName]) VALUES (1,N'RiceAlumni.Theme');
GO
INSERT INTO [Orchard_Users_RegistrationSettingsPartRecord] ([Id],[UsersCanRegister],[UsersMustValidateEmail],[ValidateEmailRegisteredWebsite],[ValidateEmailContactEMail],[UsersAreModerated],[NotifyModeration],[NotificationsRecipients],[EnableLostPassword]) VALUES (1,0,0,null,null,0,0,null,0);
GO
INSERT INTO [Orchard_Users_UserPartRecord] ([Id],[UserName],[Email],[NormalizedUserName],[Password],[PasswordFormat],[HashAlgorithm],[PasswordSalt],[RegistrationStatus],[EmailStatus],[EmailChallengeToken]) VALUES (2,N'admin',N'',N'admin',N'lKNYX0iHBge9KpHbQC5bJeAwJo4=',N'Hashed',N'SHA1',N'20mZDifv+l4pPdtirGePVw==',N'Approved',N'Approved',null);
GO
INSERT INTO [Orchard_Widgets_LayerPartRecord] ([Id],[Name],[Description],[LayerRule]) VALUES (5,N'Default',N'The widgets in this layer are displayed on all pages',N'true');
INSERT INTO [Orchard_Widgets_LayerPartRecord] ([Id],[Name],[Description],[LayerRule]) VALUES (6,N'Authenticated',N'The widgets in this layer are displayed when the user is authenticated',N'authenticated');
INSERT INTO [Orchard_Widgets_LayerPartRecord] ([Id],[Name],[Description],[LayerRule]) VALUES (7,N'Anonymous',N'The widgets in this layer are displayed when the user is anonymous',N'not authenticated');
GO
INSERT INTO [Orchard_Widgets_WidgetPartRecord] ([Id],[Title],[Position],[Zone],[RenderTitle],[Name]) VALUES (63,N'Main Menu',N'1',N'Navigation',0,null);
INSERT INTO [Orchard_Widgets_WidgetPartRecord] ([Id],[Title],[Position],[Zone],[RenderTitle],[Name]) VALUES (64,N'Home Menu',N'2',N'Navigation',0,null);
INSERT INTO [Orchard_Widgets_WidgetPartRecord] ([Id],[Title],[Position],[Zone],[RenderTitle],[Name]) VALUES (65,N'Footer Menu',N'1',N'SubFooter',0,null);
GO
INSERT INTO [RiceAlumni_Homepage_HomepagePartRecord] ([Id],[LinkText],[LinkTarget]) VALUES (67,N'Find Upcoming Events',N'http://alumni.cgi.rice.edu/events/calendar.php');
INSERT INTO [RiceAlumni_Homepage_HomepagePartRecord] ([Id],[LinkText],[LinkTarget]) VALUES (68,N'Search our Groups',N'~/alumni_groups.html');
INSERT INTO [RiceAlumni_Homepage_HomepagePartRecord] ([Id],[LinkText],[LinkTarget]) VALUES (69,N'Access Resources and Programs',N'/youngalum_stds.html');
GO
INSERT INTO [RiceAlumni_StaffDirectory_StaffProfilePartRecord] ([Id],[Title],[Email],[Phone]) VALUES (80,N'Director of Communications',N'robynblackmon@rice.edu',N'(555) 555-5555');
INSERT INTO [RiceAlumni_StaffDirectory_StaffProfilePartRecord] ([Id],[Title],[Email],[Phone]) VALUES (81,N'Web & Social Media Specialist',N'nikkimetzgar@rice.edu',N'(555) 555-5555');
INSERT INTO [RiceAlumni_StaffDirectory_StaffProfilePartRecord] ([Id],[Title],[Email],[Phone]) VALUES (82,N'Executive Director',N'carriebrown@rice.edu',N'(555) 555-5555');
GO
GO
SET IDENTITY_INSERT [Settings_ContentFieldDefinitionRecord] ON;
GO
INSERT INTO [Settings_ContentFieldDefinitionRecord] ([Id],[Name]) VALUES (1,N'ImageField');
GO
SET IDENTITY_INSERT [Settings_ContentFieldDefinitionRecord] OFF;
GO
SET IDENTITY_INSERT [Settings_ContentPartDefinitionRecord] ON;
GO
INSERT INTO [Settings_ContentPartDefinitionRecord] ([Id],[Name],[Hidden],[Settings]) VALUES (1,N'BodyPart',0,N'<settings ContentPartSettings.Attachable="True" BodyPartSettings.FlavorDefault="html" />');
INSERT INTO [Settings_ContentPartDefinitionRecord] ([Id],[Name],[Hidden],[Settings]) VALUES (2,N'CommonPart',0,N'<settings ContentPartSettings.Attachable="True" />');
INSERT INTO [Settings_ContentPartDefinitionRecord] ([Id],[Name],[Hidden],[Settings]) VALUES (3,N'IdentityPart',0,N'<settings ContentPartSettings.Attachable="True" />');
GO
SET IDENTITY_INSERT [Settings_ContentPartDefinitionRecord] OFF;
GO
SET IDENTITY_INSERT [Settings_ContentPartFieldDefinitionRecord] ON;
GO
INSERT INTO [Settings_ContentPartFieldDefinitionRecord] ([Id],[Name],[Settings],[ContentFieldDefinitionRecord_id],[ContentPartDefinitionRecord_Id]) VALUES (1,N'Image',N'<settings ImageFieldSettings.Width="691" ImageFieldSettings.Height="95" ImageFieldSettings.ResizeAction="Validate" />',1,21);
INSERT INTO [Settings_ContentPartFieldDefinitionRecord] ([Id],[Name],[Settings],[ContentFieldDefinitionRecord_id],[ContentPartDefinitionRecord_Id]) VALUES (2,N'Image',N'<settings ImageFieldSettings.Width="1980" ImageFieldSettings.Height="650" ImageFieldSettings.ResizeAction="Validate" />',1,23);
INSERT INTO [Settings_ContentPartFieldDefinitionRecord] ([Id],[Name],[Settings],[ContentFieldDefinitionRecord_id],[ContentPartDefinitionRecord_Id]) VALUES (3,N'Image',N'<settings ImageFieldSettings.Width="500" ImageFieldSettings.Height="500" ImageFieldSettings.ResizeAction="Crop" />',1,24);
GO
SET IDENTITY_INSERT [Settings_ContentPartFieldDefinitionRecord] OFF;
GO
SET IDENTITY_INSERT [Settings_ContentTypeDefinitionRecord] ON;
GO
INSERT INTO [Settings_ContentTypeDefinitionRecord] ([Id],[Name],[DisplayName],[Hidden],[Settings]) VALUES (1,N'Site',N'Site',0,N'<settings />');
INSERT INTO [Settings_ContentTypeDefinitionRecord] ([Id],[Name],[DisplayName],[Hidden],[Settings]) VALUES (2,N'ContainerWidget',N'Container Widget',0,N'<settings Stereotype="Widget" />');
INSERT INTO [Settings_ContentTypeDefinitionRecord] ([Id],[Name],[DisplayName],[Hidden],[Settings]) VALUES (3,N'Page',N'Page',0,N'<settings ContentTypeSettings.Creatable="True" ContentTypeSettings.Draftable="True" />');
GO
SET IDENTITY_INSERT [Settings_ContentTypeDefinitionRecord] OFF;
GO
SET IDENTITY_INSERT [Settings_ContentTypePartDefinitionRecord] ON;
GO
INSERT INTO [Settings_ContentTypePartDefinitionRecord] ([Id],[Settings],[ContentPartDefinitionRecord_id],[ContentTypeDefinitionRecord_Id]) VALUES (1,N'<settings />',2,2);
INSERT INTO [Settings_ContentTypePartDefinitionRecord] ([Id],[Settings],[ContentPartDefinitionRecord_id],[ContentTypeDefinitionRecord_Id]) VALUES (2,N'<settings />',4,2);
INSERT INTO [Settings_ContentTypePartDefinitionRecord] ([Id],[Settings],[ContentPartDefinitionRecord_id],[ContentTypeDefinitionRecord_Id]) VALUES (3,N'<settings />',5,2);
GO
SET IDENTITY_INSERT [Settings_ContentTypePartDefinitionRecord] OFF;
GO
SET IDENTITY_INSERT [Settings_ShellDescriptorRecord] ON;
GO
INSERT INTO [Settings_ShellDescriptorRecord] ([Id],[SerialNumber]) VALUES (1,11);
GO
SET IDENTITY_INSERT [Settings_ShellDescriptorRecord] OFF;
GO
SET IDENTITY_INSERT [Settings_ShellFeatureRecord] ON;
GO
INSERT INTO [Settings_ShellFeatureRecord] ([Id],[Name],[ShellDescriptorRecord_id]) VALUES (976,N'Orchard.Framework',1);
INSERT INTO [Settings_ShellFeatureRecord] ([Id],[Name],[ShellDescriptorRecord_id]) VALUES (977,N'Common',1);
INSERT INTO [Settings_ShellFeatureRecord] ([Id],[Name],[ShellDescriptorRecord_id]) VALUES (978,N'Containers',1);
GO
SET IDENTITY_INSERT [Settings_ShellFeatureRecord] OFF;
GO
SET IDENTITY_INSERT [Settings_ShellFeatureStateRecord] ON;
GO
INSERT INTO [Settings_ShellFeatureStateRecord] ([Id],[Name],[InstallState],[EnableState],[ShellStateRecord_Id]) VALUES (1,N'Orchard.Framework',N'Up',N'Up',1);
INSERT INTO [Settings_ShellFeatureStateRecord] ([Id],[Name],[InstallState],[EnableState],[ShellStateRecord_Id]) VALUES (2,N'Common',N'Up',N'Up',1);
INSERT INTO [Settings_ShellFeatureStateRecord] ([Id],[Name],[InstallState],[EnableState],[ShellStateRecord_Id]) VALUES (3,N'Containers',N'Up',N'Up',1);
GO
SET IDENTITY_INSERT [Settings_ShellFeatureStateRecord] OFF;
GO
GO
SET IDENTITY_INSERT [Settings_ShellStateRecord] ON;
GO
INSERT INTO [Settings_ShellStateRecord] ([Id],[Unused]) VALUES (1,null);
GO
SET IDENTITY_INSERT [Settings_ShellStateRecord] OFF;
GO
INSERT INTO [Settings_SiteSettings2PartRecord] ([Id],[BaseUrl]) VALUES (1,N'http://localhost:8000');
GO
INSERT INTO [Settings_SiteSettingsPartRecord] ([Id],[SiteSalt],[SiteName],[SuperUser],[PageTitleSeparator],[HomePage],[SiteCulture],[ResourceDebugMode],[PageSize],[SiteTimeZone]) VALUES (1,N'5dd2c1db5a7a4788ae437648a1570dd4',N'Association of Rice Alumni',N'admin',N' - ',null,N'en-US',N'FromAppSetting',10,N'Central Standard Time');
GO
INSERT INTO [Title_TitlePartRecord] ([Id],[ContentItemRecord_id],[Title]) VALUES (3,3,N'Staff Directory');
INSERT INTO [Title_TitlePartRecord] ([Id],[ContentItemRecord_id],[Title]) VALUES (4,4,N'Staff Directory');
INSERT INTO [Title_TitlePartRecord] ([Id],[ContentItemRecord_id],[Title]) VALUES (11,11,N'Main Menu');
GO

