@using Orchard.ContentManagement;
@using Orchard.Core.Contents;
@using Downplay.Mechanics;
@{
    ContentItem content = Model.ContentItem;
}
@if (Model.ContentItem.Id > 0) {
    <div class="content-control">
        <div class="manage-actions">@if(Model.ManageActions!=null) {
            IEnumerable<Downplay.Mechanics.Impulses.IImpulse> actions = Model.ManageActions; 
            <text>@actions.Loop(
            @<text>@Display.Impulse(Impulse:item,ContentItem:content)</text>,
            @<text> | </text>)</text>
        }   
        </div>
    @Display(Model.Child)
    </div>
}
else {
    @Display(Model.Child)
}