@{
    // Displaying RightContent which should have been built in the template
}
<h1>Graph of @Model.ConnectorType connections</h1>
<div class="connector-graph">
    @DisplayChildren(Model)
</div>