@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    string title = Model.Title.ToString();
}
<span class="routable-link">@Html.ItemDisplayLink(title, contentItem)</span>